body {
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
}

.logo {
    margin: 50px;
}

.title {
    font-family: serif;
    font-size: 5vw;
    color: black;
}

@media all and (max-width: 800px) {
    .title {
        font-size: 10vw;
    }
}

.description {
    color: black;
}

@media all and (min-width: 800px) {
    .container {
        width: 75%;
    }
}
